import 'package:flutter_bloc/flutter_bloc.dart';

class {{generatedClassName}} extends Bloc<{{generatedEventName}}, {{generatedStateName}}> {
  {{generatedClassName}}() : super(const {{generatedStateName}}()) {
    {{body}}
  }
}
