class {{generatedClassName}} {
  {{generatedClassName}}._privateConstructor();

  static {{generatedClassName}}? _instance;

  static {{generatedClassName}} get instance {
    _instance ??= {{generatedClassName}}._privateConstructor();
    return _instance!;
  }

  {{body}}
}
