import 'package:riverpod/riverpod.dart';

class {{generatedClassName}} extends StateNotifier<{{generatedStateName}}> {
  {{generatedClassName}}() : super(const {{generatedStateName}}()) {
    {{body}}
  }
}
